<section class="main content">
    <article>
        <span class="title">
            <h2>全部文章</h2>
        </span>
        <div class="post">
            <ul class="listing">
                <% for(let {title:titleVal,date:dateVal,tag:tagVal,path:pathVal} of cache) {%>
                    <% if(!!titleVal) { %>
                        <li class="listing-item <%= tagVal.replace(/,/,' ') %>">
                            <time datetime="<%= dateVal %>">
                                <%= dateVal %>
                            </time>
                            <a href="<%= pathVal.match(/(\S*)\.md/)[1] %>" title="2017">
                                <%= titleVal %>
                            </a>
                        </li>
                        <% } else { %>
                            <li class="listing-seperator">
                                <%= dateVal %>
                            </li>
                            <% } } %>
            </ul>
        </div>
    </article>
</section>
<script>
    document.addEventListener('hashchange', function () {
        tag()
    })

    function tag() {
        var hash = location.hash.replace('#', '')
        var tagList = document.getElementsByClassName(hash)
        if (tagList.length == 0) return;
        var list = document.getElementsByTagName('li')
        for (var i = 0; i < list.length; i++) {
            list[i].className += ' ' + 'hid'
        }
        for (var j = 0; j < tagList.length; j++) {
            var result = new RegExp("(\\s|^)" + 'hid' + "(\\s|$)")
            tagList[j].className = tagList[j].className.replace(result, '')
        }
    }
    tag()
</script>