<section class="main content">
    <div class="wrapper clearfix">

        <!-- <article>
            <div class="article-title">
                <a href="return false;">文章标题 test</a>
            </div>
            <div class="article-info">
                <span class="article-item">
                    <em>作者</em>
                </span>
                <span class="article-item">
                    <span class="index">view:</span>
                    <span class="value">3909</span>
                </span>
                <span class="article-item">
                    <span class="index">comment:</span>
                    <span class="value">399</span>
                </span>
                <span class="article-item">
                    <span class="value">2个月以前</span>
                </span>
            </div>
        </article> -->
        <% if(result){ %>

            <% result.forEach(function(item){ %>
                <article>
                    <div class="article-title">
                        <a href="/post/<%= item.id || '*' %>">
                            <%= item.title || 'undefined' %>
                        </a>
                    </div>
                    <div class="article-info">
                        <span class="article-item">
                            <em>
                                <%= item.name || 'null' %>
                            </em>
                        </span>
                        <span class="article-item">
                            <span class="index">view:</span>
                            <span class="value">
                                <%= item.pv || 'null' %>
                            </span>
                        </span>
                        <span class="article-item">
                            <span class="index">comments:</span>
                            <span class="value">
                                <%= item.comments || 'undefined' %>
                            </span>
                        </span>
                        <span class="article-item">
                            <span class="value">
                                <%= item.moment || 'undefined' %>
                            </span>
                        </span>
                    </div>
                </article>
                <% }) %>

                    <% } else { %>
                        <p>没有跟帖</p>
                        <% } %>
    </div>
</section>