<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        sprite
    </title>
    <meta name="description" content="webgl 2d精灵动画" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/images/favico.ico" type="image/icon" />
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
    <style>
        html,
        body {
            /* width: 100%;
            height: 100%;
            margin: 0; */
            touch-action: none;
            overflow: hidden;
        }

        canvas {
            width: 100%;
            height: 100%;
            margin: 0;
            border: 0;
            user-select: none;
            cursor: pointer;
        }

        body {
            /* background: radial-gradient(hsl(255, 18%, 35%), hsl(198, 32%, 8%)); */
            /* background: radial-gradient(circle, #484848, #2f3031) */
        }
    </style>
</head>

<body>
    <header>
        <% if(title != '登录' && id ) {%>
            <hgroup id='login'>
                <a href="javascript:void(0);">Last:
                    <%= papa %>
                </a>
                <a id="logout" href="javascript:void(0);">退出</a>
            </hgroup>
            <script>
                document.addEventListener("DOMContentLoaded", logout_handler, false);

                function logout_handler() {
                    document.getElementById('logout').addEventListener('click', function () {
                        _.push('/logout', '', function (res) {
                            var res = JSON.parse(res);
                            if (res != null && res.code) {
                                var retVal = parseInt(res.code);

                                switch (retVal) {
                                    case 0:
                                        alert('失败');
                                        break;
                                    case 1:
                                        //alert('成功!');
                                        location.href = '/'
                                        break;
                                }
                            } else {
                                alert('操作失败');
                            }
                        })
                    })
                }
            </script>
            <% } else { %>
                <hgroup>
                    <a href="https://github.com/vvinc"> 欢迎交流和指正 GitHub</a>
                    <a href="/login"> 登录</a>
                    <a href="/reg"> 注册</a>
                </hgroup>
                <% } %>
                    <nav>
                        <ul>
                            <li>
                                <a href="/" class="<%= title == '首页' ? 'on' : '' %>">全部文章</a>
                            </li>
                            <!--
                                    <li>
                                        <a href="/post" class="<%= title == 'post' ? 'on' : '' %>">全部文章</a>
                                    </li>
                                    -->
                            <li>
                                <a href="/lab" class="<%= title == 'h5test' ? 'on' : '' %>">h5test</a>
                            </li>
                            <li>
                                <a href="/top" class="<%= title == 'Top' ? 'on' : '' %>">榜单</a>
                            </li>
                        </ul>
                    </nav>
    </header>
    <canvas id='gl' controls oncontextmenu="return false;"></canvas>
    <script type="text/javascript" src="/javascripts/stage.js"></script>
    <script type="text/javascript" src="/javascripts/sprite.js"></script>
</body>

</html>